<!-- <% layout("/layouts/boilerplate") %>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>"
    const listing = <%- JSON.stringify(listing) %>
</script>

<div class="row mt-3">
    <div class="col-8 offset-3">
        <h3><b><%= listing.title %></b></h3><br>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text"><i>Owned by <%= listing.owner.username %></i> </p>
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p> 
            <p class="card-text"><%= listing.location %></p>
            <p class="card-text"><%= listing.country %></p>
        </div>
    </div>
</div>

<br>
<% if(currUser && listing.owner._id.equals(currUser._id)) { %>
    <div class="btns">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
        <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button> 
        </form>
    </div>
<% } %>


<div class="col-8 offset-3 mb-3">
    <% if(currUser) { %>
         <hr>
        <h4>Leave a Review : </h4>
        <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
             <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating : </label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
            </div> 
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating : </label>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments : </label>
                <textarea type="text" id="comment" cols="20" rows="7" name="review[comment]" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comments for review.</div>
            </div> 
            <button class="btn btn-outline-dark">Submit</button>
        </form>
    <% } %>
    
    <% if(listing.reviews.length > 0) { %>
        <hr />
        <div class="row">
            <p><b>All Reviews : </b></p>
            <% for(review of listing.reviews) { %> 
                <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@<%= review.author.username %></h5>
                        <p class="starability-result card-text" data-rating=<%= review.rating %>></p>
                        <p class="card-text"><%= review.comment %></p>
                        <form class="mb-3 mt-2" method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>   -->
    <!-- <hr>
</div> -->
<!-- <div class="col-8 offset-3 mb-3">
        <h3>Where you'll be</h3>
        <div id="map"></div>
</div>

<script src="/js/map.js"></script>  -->

<% layout('/Layout/boilerplate') -%>

<script>
  let mapToken = "<%= process.env.MAP_TOKEN %>";
</script>

<div class="row col-11">
  <div class="col-8 offset-2 mt-2">
    <h3><%= showData.title %></h3>
  </div>

  <div class="card col-6 offset-2 datalist-card">
    <img
      src="<%= showData.image.url %>"
      class="card-img-top show-img"
      alt="datalist_image"
    />
    <div class="card-body">
      <br />
      <p class="card-text">
        Owned By:
        <i><b>
          <%= showData.owner && showData.owner.username ? showData.owner.username : 'Unknown' %>
        </b></i>
      </p>
      <%= showData.description %><br />
      ₹<%= showData.price.toLocaleString("en-IN") %><br />
      <%= showData.location %><br />
      <%= showData.country %>
    </div>
  </div>

  <br />

  <div class="show_btn">
    <% if (CurrUser && showData.owner && CurrUser._id.equals(showData.owner._id)) { %>
      <button class="edit_btn col-1 offset-2">
        <a href="/datalist/<%= showData.id %>/edit">Edit</a>
      </button>

      <form method="POST" action="/datalist/<%= showData.id %>?_method=DELETE">
        <button class="delete_btn col-12 offset-3">Delete</button>
      </form>
    <% } %>
  </div>

  <div class="mb-3 mt-3">
    <% if (CurrUser) { %>
      <form
        method="POST"
        action="/datalist/<%= showData.id %>/review"
        class="needs-validation"
        novalidate
      >
        <div class="col-8 offset-2">
          <fieldset class="starability-basic">
            <div class="mt-3">
              <h5>Leave a Review</h5>
              <label for="comment" class="form-label">Rating</label> <br />
            </div>

            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>

          <div class="mt-3">
            <label for="comment" class="form-label">Comments</label> <br />
            <textarea
              name="review[comment]"
              id="comment"
              rows="5"
              cols="93"
              class="form-label"
              required
            ></textarea>
            <div class="invalid-feedback">Please add valid comment.</div>
          </div>

          <button class="btn btn-outline-dark mt-2">Submit</button>
        </div>
      </form>
    <% } %>

    <div class="row mb-3 m-2">
      <div class="offset-2"></div>
      <% for (let review of showData.review) { %>
        <div class="card col-4 offset-2 mb-3">
          <div class="card-body">
            <h5 class="card-title">
              @<%= review.author && review.author.username ? review.author.username : 'Anonymous' %>
            </h5>
            <p class="card-text"><%= review.comment %></p>
            <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
          </div>

          <form
            method="POST"
            action="/datalist/<%= showData.id %>/review/<%= review.id %>?_method=DELETE"
          >
            <button class="btn btn-danger mb-2">Delete</button>
          </form>
        </div>
      <% } %>
    </div>

    <div class="col-1 offset-2">
      <div id="map">Map</div>
    </div>
  </div>
</div>

<script src="/js/map.js"></script>

